src/SoapBundle/Controller/user.wsdl

<?xml version="1.0" encoding="ISO-8859-1"?>
<definitions
		xmlns:xsd="http://www.w3.org/2001/XMLSchema"
		xmlns:tns="urn:arnleadservicewsdl"
		xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
		xmlns="http://schemas.xmlsoap.org/wsdl/"
		targetNamespace="urn:createUserservicewsdl">

	<types>
		<xsd:schema targetNamespace="urn:createUserwsdl">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>
		</xsd:schema>

		<xsd:schema targetNamespace="urn:listUserswsdl">
			<xsd:import namespace="http://schemas.xmlsoap.org/soap/encoding/"/>
			<xsd:import namespace="http://schemas.xmlsoap.org/wsdl/"/>

			<xsd:complexType name="User">
				<xsd:all>
					<xsd:element name="id" type="xsd:int"/>
					<xsd:element name="name" type="xsd:string"/>
					<xsd:element name="email" type="xsd:string"/>
					<xsd:element name="password" type="xsd:string"/>
					<xsd:element name="permission" type="xsd:string"/>
				</xsd:all>
			</xsd:complexType>
		</xsd:schema>
	</types>

	<message name="createUserRequest">
		<part name="name" type="xsd:string"/>
		<part name="password" type="xsd:string"/>
		<part name="email" type="xsd:string"/>
		<part name="permission" type="xsd:string"/>
	</message>

	<message name="createUserResponse">
		<part name="name" type="xsd:string"/>
		<part name="email" type="xsd:string"/>
		<part name="permission" type="xsd:string"/>
	</message>

	<message name="listUsersRequest">
		<part name="offset" type="xsd:int"/>
		<part name="limit" type="xsd:int"/>
	</message>

	<message name="listUsersResponse">
		<part name="users" type="tns:User"/>
	</message>

	<portType name="UserPortType">
		<operation name="createUser">
			<documentation>Create User</documentation>
			<input message="tns:createUserRequest"/>
			<output message="tns:createUserResponse"/>
		</operation>
		<operation name="listUsers">
			<documentation>List of a users sorted by ID:desc</documentation>
			<input message="tns:listUsersRequest"/>
			<output message="tns:listUsersResponse"/>
		</operation>
	</portType>

	<binding name="UserBinding" type="tns:UserPortType">
		<soap:binding style="rpc" transport="http://schemas.xmlsoap.org/soap/http"/>
		<operation name="createUser">
			<soap:operation soapAction="urn:user-service#createUser" style="rpc"/>

			<input>
				<soap:body use="encoded" namespace="urn:user-service"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>

			<output>
				<soap:body use="encoded" namespace="urn:user-service"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>

		<operation name="listUsers">
			<soap:operation soapAction="urn:arnleadservicewsdl#listUsers" style="rpc"/>

			<input>
				<soap:body use="encoded" namespace="urn:user-service"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</input>

			<output>
				<soap:body use="encoded" namespace="urn:user-service"
				           encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"/>
			</output>
		</operation>
	</binding>

	<service name="UserService">
		<port name="UserPort" binding="tns:UserBinding">
			<soap:address location="@soap_url"/>
		</port>
	</service>
</definitions>
